<footer class="site-footer">
  <nav class="main-nav" id="menu">
    <ol>
      {% assign currentpage = page.url %}
      <li>
        <a href="{{ site.baseurl }}/" {% if currentpage == page.url %}class = "active"{% endif %}>Where Can I JavaScript?</a>
      </li>
      {% for page in site.pages %}
        {% unless page.url contains ".css" or page.url == "/" %}
          <li>
            <a href="{{ site.baseurl }}{{ page.url }}" {% if currentpage == page.url %}class = "active"{% endif %}>{{ page.title }}</a>
          </li>
        {% endunless %}
      {% endfor %}
    </ol>
  </nav>
</footer>
